---
	import Feature from "../components/Feature.astro";
	import Showcases from "../components/Showcases.astro";
	import Layout from "../layouts/Layout.astro"

---

<Layout title="Astro Website">
	<h1>Hello Astro</h1>
	<Showcases />
	<Feature />
</Layout>